@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: hsl(255, 11%, 22%);
  font-weight: 700;
}

p {
  color: hsl(0, 0%, 75%);
  font-weight: 500;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.header-section {
  padding: 30px 0;
}

.header-section .logo img {
  height: 40px;
}

.header-section .main-navigation {
  flex: 1;
  gap: 0;
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .header-section .main-navigation {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-40%);
    width: 70%;
    height: 0;
    z-index: 999;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    border-radius: 20px;
    background-color: #3b3054;
    transition: all 0.5s ease;
  }
}

@media (max-width: 767px) {
  .header-section .main-navigation {
    width: 90%;
  }
}

@media (max-width: 375px) {
  .header-section .main-navigation {
    width: 100%;
  }
}

@media (max-width: 280px) {
  .header-section .main-navigation {
    padding: 0 25px;
  }
}

.header-section .main-navigation > div {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* changed from 992px to 1024px */
@media (max-width: 1024px) {
  .header-section .main-navigation > div {
    flex-direction: column;
    width: 100%;
    padding: 30px 0;
  }
}

@media (max-width: 280px) {
  .header-section .main-navigation > div {
    padding: 25px 0;
  }
}

.header-section .main-navigation div:first-child {
  border-bottom: 1px solid white;
}

.header-section .nav-buttons .btn {
  color: #fff;
  width: 80%;
}

@media (max-width: 375px) {
  .header-section .nav-buttons .btn {
    width: 100%;
  }
}

.header-section .burger-menu {
  font-size: 22px;
  color: #9e9aa7;
  cursor: pointer;
  display: none;
}

/* changed from 992px to 1024px */
@media (max-width: 1024px) {
  .header-section .burger-menu {
    display: block;
  }
}
.main-navigation a {
  font-weight: 700;
  font-size: 14px;
  color: #9e9aa7;
  transition: 0.3s;
}

.main-navigation a:hover {
  color: #232127;
}

/* changed from 992px to 1024px */
@media (max-width: 1024px) {
  .main-navigation a {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 16px;
  }
  .main-navigation a:hover {
    color: #2acfcf;
  }
}

.btn {
  display: inline-block;
  color: white;
  background-color: #33c4c9;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
  padding: 7px 32px;
}

/* Sign up, get started and delete buttons */
.btn.btn-sm {
  padding: 10px 26px;
  font-weight: 700;
  outline: none;
  border: none;
}

.btn.btn-lg {
  padding: 12px 36px;
}

.btn.btn-plus-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  outline: none;
  border: none;
  font-weight: 700;
}

/* shortened success button */
.btn.btn-plus-icon .icon {
  font-size: 22px;
}

.btn:hover {
  background-color: #6be1e1;
}

/* flex between the logo, nav links and nav buttons */
.flex-between {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.nav-items-top {
  align-items: flex-start;
}

/* Landing Section */

.landing {
  display: flex;
  align-items: center;
  padding: 40px 0;
  margin-left: 11%;
  overflow-x: hidden;
}

/* changed from 992px to 1024px */
@media (max-width: 1024px) {
  .landing {
    flex-direction: column-reverse;
    margin-left: 0;
    padding-bottom: 80px;
    row-gap: 60px;
  }
}

@media (max-width: 280px) {
  .landing {
    padding-bottom: 40px;
  }
}

.landing .landing-text {
  flex: 1;
  min-width: 400px;
 
}

/* changed from 992px to 1024px */
@media (max-width: 1024px) {
  .landing .landing-text {
    max-width: 90%;
    min-width: 0;
    text-align: center;
  }
}

.landing .landing-text h1 {
  width: 100%;
  font-size: 4em;
  line-height: 1.2;
}

/* changed from 992px to 1024px */
@media (max-width: 1024px) {
  .landing .landing-text h1 {
    font-size: 3em;
  }
}

/* @media (max-width: 500px) {
  .landing .landing-text h1 {
    font-size: 2em;
  }
} */

.landing .landing-text p {
  font-size: 18px;
  max-width: 500px;
  padding: 30px 0 0;
  
}

/* changed from 992px to 1024px */
@media (max-width: 1024px) {
  .landing .landing-text p {
    font-size: 16px;
    margin: 10px auto 29.41176px;
  }
}

@media (max-width: 500px) {
  .landing .landing-text p {
    font-size: 15px;
  }
}

.landing .landing-image {
  position: relative;
  right: -70px;
}

@media (max-width: 992px) {
  .landing .landing-image {
    flex-basis: initial;
    right: -240px;
  }
}

@media (max-width: 767px) {
  .landing .landing-image {
    right: -170px;
  }
}

@media (max-width: 500px) {
  .landing .landing-image {
    right: -110px;
  }
}

@media (max-width: 375px) {
  .landing .landing-image {
    right: -120px;
  }
}

@media (max-width: 280px) {
  .landing .landing-image {
    right: -70px;
  }
}

@media (min-width: 1100px) {
  .landing .landing-image {
    right: -130px;
  }
}

.landing .landing-image img {
  width: 100%;
}

.container {
  position: relative;
  width: 78%;
  margin: 0 auto;
}

@media (max-width: 992px) { 
  .container {
    width: 90%;
  }
}
