.url-shorten-form {
  width: 100%;
  @include flex(null, null, null, $gap / 2); // 20px
  flex-wrap: wrap;
  background: $dark-violet url(../images/bg-shorten-desktop.svg) no-repeat right
    top;
  background-size: cover;
  padding: $main-padding - 5; // 45px
  border-radius: $border-radius - 4px; // 6px
  margin-bottom: $main-margin / 2.5; // 20px
  transform: translateY(-50%);

  @media (max-width: 850px) {
    flex-direction: column;
    gap: $gap - 5; // 35px
    background: $dark-violet url(../images/bg-shorten-mobile.svg) no-repeat
      right top;
    padding: $main-padding - 25; // 25px
    margin-bottom: 0;
  }

  @include media-280 {
    padding: $main-padding - 30; // 20px
  }

  > div {
    position: relative;
    flex: 1;
  }

  .url-input {
    width: 100%;
    font-family: $font-stack;
    font-size: $font-size + 2;
    padding: 8px 20px;
    background: $white;
    border: 2px solid transparent;
    border-radius: $border-radius - 4px; // 6px
    outline: none;
    transition: $fast-transition;

    &::placeholder {
      font-family: $font-stack;
      font-size: $font-size;
      font-weight: $font-w-500;
      color: $grayish-violet;
    }
  }

  .alert {
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    font-style: italic;
    font-size: $font-size;
    color: $red;
    opacity: 0;
    transition: $fast-transition opacity;
  }

  .btn {
    text-align: center;
    border-radius: inherit;
    white-space: nowrap;
    font-size: $font-size;
    cursor: pointer;

    @media (max-width: 850px) {
      font-size: $font-size + 3; // 19px
      padding: 10px 30px;
    }
  }

  &.empty {
    .url-input {
      border-color: $red;

      &::placeholder {
        color: $red;
        opacity: 0.5;
      }
    }

    .alert {
      opacity: 1;
    }
  }

  &.success {
    button {
      background: $success;
    }
  }
}
