.header {
  padding: $main-padding - 5 0;

  .logo {
    img {
      height: 30px;
    }
  }

  .main-navgation {
    flex: 1;
    gap: 0;

    @include media-992 {
      position: absolute;
      top: 150%;
      left: 50%;
      transform: translateX(-50%);
      width: 70%;
      height: 0;
      z-index: 999;
      overflow: hidden;
      flex-direction: column;
      align-items: center;
      padding: 0 $main-padding / 1.5;
      border-radius: $border-radius;
      background-color: $dark-violet;
      transition: height $main-transition;
    }

    @include media-767 {
      width: 90%;
    }

    @include media-375 {
      width: 100%;
    }

    @include media-280 {
      padding: 0 $main-padding / 2;
    }

    > div {
      @include flex(null, null, center, $gap - 10);

      @include media-992 {
        flex-direction: column;
        width: 100%;
        padding: $main-padding / 1.5 0;
      }

      @include media-280 {
        padding: $main-padding / 2 0;
      }
    }

    div:first-child {
      border-bottom: 1px solid $white;
    }
  }

  .nav-buttons .btn {
    color: #fff;
    width: 80%;

    @include media-375 {
      width: 100%;
    }
  }

  .burger-menu {
    font-size: $font-size + 6; // 24px
    color: $grayish-violet;
    cursor: pointer;
    display: none;

    @include media-992 {
      display: block;
    }
  }
}

.main-navgation {
  a {
    font-weight: $font-w-700;
    font-size: $font-size - 2; // 15px
    color: $grayish-violet;
    transition: $main-transition;

    &:hover {
      color: $very-dark-violet;
    }

    @include media-992 {
      width: 100%;
      color: $white;
      text-align: center;
      font-size: $font-size + 1;

      &:hover {
        color: $cyan;
      }
    }
  }
}
