@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --Cyan: hsl(180, 66%, 49%);
    --DarkViolet: hsl(257, 27%, 26%);
    --Red: hsl(0, 87%, 67%);
    --GrayishViolet: hsl(257, 7%, 63%);
    --VeryDarkBlue: hsl(255, 11%, 22%);
    --VeryDarkViolet: hsl(260, 8%, 14%);
    --box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
*{
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header-container, .main-hero-container, .main-url-container, .main-footer-container {
   max-width: 1440px; 
   margin: 0 auto;
}

/*-----header section------*/

nav{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;   
}
.nav-left,.nav-right {
    display: flex;
    align-items: center;
}
.header-container a{
    margin-left: 30px;
    color: var(--GrayishViolet);
    text-decoration: none;
    font-weight: 700;
    font-family: "Poppins";    
}
nav button{
    margin-left: 30px;
    background-color: var(--Cyan);
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 700;
}

/*-----hero section------*/

.hero-section-container{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
    margin: 0 auto;
}
.hero-section-content{
    min-width: 700px;
    font-family: 'Poppins';
}
.hero-section-header{
    font-size: 80px;
    font-weight: 900;
    color: var(--DarkViolet);
    line-height: 1.1;
    width: 600px;
}
.hero-section-line{
    font-size: 20px;
    color: var(--VeryDarkBlue);
    width: 600px;
    margin-top: 20px;
}
.get-started-btn{
    background-color: var(--Cyan);
    padding: 15px 30px;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
}
.hero-section-image img{
    max-width: auto;
    max-height: auto;  
}

/*-----url section------*/

.url-container{
    position: relative;
    display: flex;
    background-image: url(/images/bg-shorten-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 10rem;
    width: 100%;
    top: 50%;
    align-items: center;
    background-color: var(--DarkViolet);
   
}
form{
    width: 100%;
    margin-left: 50px;
}
form > input {
    width: 70%;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins';
    color: var(--GrayishViolet);
    border-color: var(--DarkViolet);
}
form > button {
    padding: 15px 20px;
    border-radius: 7px;
    background-color: var(--Cyan);
    border: none;
    color: white;
    font-weight: 700;
    font-family: 'Poppins';
    margin-left: 20px;  
}

/*-----advanced statistics section------*/

.advanced-stats-section{
    height: 700px;
    background-color: #eff1f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.advanced-stats-header{
    text-align: center;
    color: var(--VeryDarkBlue);
    font-weight: 700;
    font-size: 40px;
}
.advanced-stats-text{
    max-width: 500px;
    text-align: center;
    color: var(--VeryDarkViolet);
}

/*----cards section ---*/
.card {
    margin-top: 10px;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    box-shadow: var(--box-shadow);
    background-color: white;
}
.cards{
    display: flex;
    max-width: 1440px;
    gap: 40px;
    
}
.card-content{
    padding: 60px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: var(--box-shadow);
    color: var(--DarkViolet);
}
.card-content > img {
    width: 80px;
    height: 80px;
    border: 2px solid var(--Cyan);
    border-radius: 50%;
    padding: 10px;
    background-color: var(--DarkViolet);
    margin-bottom: 20px;
}
.card-content,
.h3,
.p {
    color: var(--VeryDarkBlue);
}

/*----Boost links section------*/

.boost-links-section{
    background-color: var(--DarkViolet);
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./images/bg-boost-desktop.svg);
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-family: 'Poppins';
    color: white;
    font-size: 20px;
}
.boost-link-btn{
    background-color: var(--Cyan);
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    border-radius: 20px;
    border: none;
    font-size: large;
    font-weight: 400;
    cursor: pointer;
}

/*----Footer section------*/

footer{
    background-color: var(--VeryDarkViolet);
    font-family: 'Poppins';
    color: white;
    padding: 40px 0;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 10px;
}
.footer-links > p{
    color: var(--GrayishViolet);
    cursor: pointer;
    font-size: small;
}
.social-links{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    justify-self: end;
}
.footer-image-container{
    grid-column: 1/2;
    filter: brightness(2);
}
.shortened-link-button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--Cyan);
    color: white;
}
.url-shortened-cards{
    width: 100%;
}
.shortened-link-container{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-content: center; 
}










