.btn {
  display: inline-block;
  color: $white;
  background-color: $cyan;
  text-transform: capitalize;
  font-weight: $font-w-700;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: $border-radius * 10;
  transition: $main-transition;

  &.btn-sm {
    padding: 7px 21px;
  }

  &.btn-lg {
    padding: 12px 36px;
  }

  &.btn-plus-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

    .icon {
      font-size: 22px;
    }
  }

  &:hover {
    background-color: $light-cyan;
  }
}
