* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: $font-size;
}

body {
  font-family: $font-stack;
  font-weight: $font-w-500;
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: $very-dark-blue;
  font-weight: $font-w-700;
}

p {
  color: $grayish-violet;
  font-weight: $font-w-500;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
