.flex-between {
  @include flex(null, space-between, center, $gap);
}

.flex-ver-top {
  align-items: flex-start;
}

.scale-effect:active {
  transform: scale(0.88);
  transition: $fast-transition;
}

.section-header {
  text-align: center;

  h2 {
    font-size: $font-size * 2.1875;

    @include media-375 {
      font-size: $font-size * 1.8125;
    }

    @include media-280 {
      font-size: $font-size * 1.5;
    }
  }

  p {
    max-width: 50%;
    margin: 7px auto 0;

    @include media-992 {
      max-width: 70%;
    }

    @include media-500 {
      max-width: 90%;
    }

    @include media-280 {
      max-width: 100%;
    }
  }
}
